{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "package.json",
      "options": {
        "printWidth": 100000
      }
    }
  ]
}
